* {
    box-sizing: border-box;
}

html {
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
}



.header {

    background: url(../img/hero.svg) center center/cover no-repeat;
    max-width: 100%;
    background-size: cover;

}

.container {
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}

.header-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 53px;
}

.header-line__logo--icon {
    display: none;
}

.button-top {
    border: 1px solid rgba(237, 255, 129, 0.40);
    background: rgba(255, 255, 255, 0.10);
}

.button-top:hover {
    border: 1px solid rgba(237, 255, 129, 0.40);
    background: #98AA28;
}

.header-line__button-top {
    text-align: center;
}

.header-line__button-top_inactive {
    border-radius: 116px;
    padding: 18px 34px;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

}

.menu {
    display: flex;
    gap: 52px;

}

.menu__item {
    color: #FFF;
    text-decoration: none;

    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 123px;
    gap: 25px;
}

.subtitle {
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.72px;
}

.subtitle__information_color {
    color: #FFF;
    text-align: center;
    opacity: 0.800000011920929;
}

.header-title {
    color: #FFF;
    font-size: 90px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 3.6px;
    text-align: center;
}

.description {
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    /* 181.818% */
}

.description__information {
    text-align: center;
}

.description__information_opacity {
    color: #FFF;
    opacity: 0.6000000238418579;
}

.header__button {
    margin: 70px 0 214px 0;
}

.header__button-style {
    background: linear-gradient(356deg, #98AA28 0%, #D6FF7E 100%);
    box-shadow: 0px 34px 50px 0px rgba(7, 63, 67, 0.07);
    border-radius: 192px;
    border: none;

    color: #FFF;
    text-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.25);
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.4px;

    padding: 27px 62px;
}

/*Планшетный стиль*/
@media screen and (max-width:1023px) {
    .container {
        padding: 0 15px;
        margin: 0 auto;
    }

    .menu {
        display: none
    }

    .header-line__logo {
        display: none;
    }

    .header-line__logo--icon {
        display: block;
    }

    .subtitle {
        font-size: 18px;
    }

    .header-title {
        font-size: 45px;
    }

    .description {
        font-size: 16px;
    }

    .strategic-block {
        display: flex;
        gap: 110px;
        flex-wrap: wrap;
    }

    .partners {
        display: none;
    }

    .right-aside {
        display: flex;
        flex-direction: column;
    }
}

/*Конец планшетного стиля*/


.partners {
    background: #F6FBF9;
    height: 100px;
    margin-bottom: 100px;
}

.partners-images {
    display: flex;
    flex-wrap: wrap;
    height: 100px;


    justify-content: space-between;
    align-items: center;
}

.left-aside {
    display: flex;
    flex-direction: column;
    width: 90%;
    gap: 40px;
}

.right-aside {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
}

.strategic-block {
    display: flex;
    gap: 110px;
}

.title-left {
    color: #253D32;
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    line-height: 65px;
    /* 154.762% */
    letter-spacing: 0.84px;
}

.description__left {
    color: #78847D;
}

.see-more {
    display: flex;
    align-items: center;
    background: white;
    border: none;
    text-align: left;

    color: #A3B938;

    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.48px;
    text-decoration-line: underline;

}

.strategic__title {
    color: #253D32;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.strategic__descr {
    color: #78847D;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}

.strategic__img {
    padding-bottom: 40px;
}

.strategic__title {
    padding-bottom: 25px;
}