* {
    box-sizing: border-box;
}

html {
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 1.56vw;
}



.header {

    background: url(../img/hero.svg) center center/cover no-repeat;
    max-width: 100%;
    background-size: cover;

}

.container {
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}

.header-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 53px;
}

.logo--icon {
    display: none;
}

.button-top {
    border: 1px solid rgba(237, 255, 129, 0.40);
    background: rgba(255, 255, 255, 0.10);
}

.button-top:hover {
    border: 1px solid rgba(237, 255, 129, 0.40);
    background: #98AA28;
}

.header-line__button-top {
    text-align: center;
}

.header-line__button-top_inactive {
    border-radius: 116px;
    padding: 18px 34px;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

}

.menu {
    display: flex;
    gap: 52px;

}

.menu__item {
    color: #FFF;
    text-decoration: none;

    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 123px;
    gap: 25px;
}

.subtitle {
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.72px;
}

.subtitle__information_color {
    color: #FFF;
    text-align: center;
    opacity: 0.800000011920929;
}

.header-title {
    color: #FFF;
    font-size: 90px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 3.6px;
    text-align: center;
}

.description {
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    /* 181.818% */
}

.description__information {
    text-align: center;
}

.description__information_opacity {
    color: #FFF;
    opacity: 0.6000000238418579;
}

.header__button {
    margin: 70px 0 214px 0;
}

.button--green {
    background: linear-gradient(356deg, #98AA28 0%, #D6FF7E 100%);
    box-shadow: 0px 34px 50px 0px rgba(7, 63, 67, 0.07);
    border-radius: 192px;
    border: none;

    color: #FFF;
    text-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.25);
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.4px;

    padding: 27px 62px;
}




.partners {
    background: #F6FBF9;
    height: 100px;
    margin-bottom: 100px;
}

.partners-images {
    display: flex;
    flex-wrap: wrap;
    height: 100px;


    justify-content: space-between;
    align-items: center;
}

.left-aside {
    display: flex;
    flex-direction: column;
    width: 90%;
    gap: 40px;
}

.right-aside {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
}

.strategic-block {
    display: flex;
    gap: 110px;

    margin-bottom: 100px;
}

.title-left {
    color: #253D32;
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    line-height: 65px;
    /* 154.762% */
    letter-spacing: 0.84px;
}

.description__left {
    color: #78847D;
}

.see-more {
    display: flex;
    align-items: center;
    background: white;
    border: none;
    text-align: left;

    color: #A3B938;

    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.48px;
    text-decoration-line: underline;

}

.strategic__title {
    color: #253D32;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.strategic__descr {
    color: #78847D;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}

.strategic__img {
    padding-bottom: 40px;
}

.strategic__title {
    padding-bottom: 25px;
}

.socmedia_block {
    display: flex;
    justify-content: flex-end;
    gap: 65px;
    margin-bottom: 100px;

}

.socmedia__picture {
    width: 100%;
}

.socmedia-aside {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
    gap: 30px;
}

.subscribe_block {

    background-image: url(../img/bg_end.svg);
    height: 530px;
    background-repeat: no-repeat;

}

.subscribe_block {
    padding-top: 100px;
    padding-left: 130px;
    gap: 40px;
}

.subscribe__descr {
    color: #FFF;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 55px;
    letter-spacing: 0.32px;
    max-width: 660px;

    margin-bottom: 35px;
}

.subscribe-cont {
    display: flex;
    flex-wrap: wrap;

}

.subscribe__logo {
    margin-bottom: 70px;
}

.subscribe-cont__form {
    border-radius: 192px;
    background: linear-gradient(356deg, #FFF 0%, #E2E2E2 100%);
    box-shadow: 0px 34px 50px 0px rgba(7, 63, 67, 0.07);
    border: none;

    width: 372px;
    height: 78px;

    margin-right: 30px;
}



.subscribe-cont__form::placeholder {
    color: #14183E;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.36px;
    padding: 28px 40px;
}



/*Для планшета*/
@media screen and (max-width:1023px) {
    .container {
        padding: 0 30px;
        margin: 0 auto;
    }

    .menu--tablet {

        gap: 20px;
    }

    .strategic-block {
        display: flex;
        justify-content: center;
        gap: 50px;
        flex-wrap: wrap;
    }


    .left-aside {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 40px;
        align-items: center;
        text-align: center;
    }

    .right-aside {
        display: grid;
        grid-template-columns: 1fr;
        gap: 40px;
        text-align: center;
    }

    .socmedia_block {
        display: flex;
        justify-content: center;
        text-align: center;
        gap: 40px;
        margin-bottom: 100px;
        flex-wrap: wrap;
    }

    .socmedia-aside {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 30px;
        text-align: center;
        align-items: center;

    }

    .subscribe_block {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding-top: 100px;
        padding-left: 0;
    }

    .subscribe__descr {
        color: #FFF;
        font-size: 28px;
        font-style: normal;
        font-weight: 600;
        line-height: 40px;
        letter-spacing: 0.32px;
        max-width: 660px;
        padding: 0 15px;

        margin-bottom: 0;
    }

    .subscribe-cont {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;

    }

    .subscribe__logo {
        margin-bottom: 40px;
    }

    .subscribe-cont__form {
        border-radius: 192px;
        background: linear-gradient(356deg, #FFF 0%, #E2E2E2 100%);
        box-shadow: 0px 34px 50px 0px rgba(7, 63, 67, 0.07);
        border: none;

        width: 230px;
        height: 60px;

        margin-bottom: 30px;

    }


    .subscribe-cont__button {
        width: 230px;
        height: 60px;
        padding: 0;
    }

}


/*Для смартфона*/
@media screen and (max-width:768px) {
    .container {
        padding: 0 15px;
        margin: 0 auto;
    }

    .menu {
        display: none
    }

    .header {

        margin-bottom: 30px;

    }

    .logo {
        display: none;

    }

    .logo--icon {
        display: block;

    }

    .logo-icon {
        width: 56px;
    }

    .subtitle {
        font-size: 18px;
    }

    .header-title {
        font-size: 45px;
    }

    .description {
        font-size: 16px;
    }

    .strategic-block {
        display: flex;
        justify-content: center;
        gap: 50px;
        flex-wrap: wrap;
    }

    .partners {
        display: none;
    }


    .subscribe__logo {
        margin-bottom: 70px;
    }

    .subscribe-cont__form {
        border-radius: 192px;
        background: linear-gradient(356deg, #FFF 0%, #E2E2E2 100%);
        box-shadow: 0px 34px 50px 0px rgba(7, 63, 67, 0.07);
        border: none;

        width: 230px;
        height: 60px;

        margin-right: 0px;
        margin-bottom: 30px;
    }


    .subscribe-cont__button {
        width: 230px;
        height: 60px;
        padding: 0;
    }

}

/*Конец стиля для смартфонов*/